
.nav{
    width: 100%;
    position: fixed;
    z-index: 1;
   
}
.home{
    position: relative;
    top: 100px;
  
   
}



.modes:hover{
    cursor: pointer;
    
}

.startbut:hover{

    width: 150px;
    height: 70px;
    font-size: larger;
    font-weight: bold;
    
    color: white;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.bartimg:hover{

    border-radius: 80px 0px 80px 0px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.arrow{
    position: absolute;
    left:94%;
    top:52px;
}

.try{
    position: relative;
   top: 5px;
   right: 8px;
    
   
}






@media screen and (max-width: 500px){
    
    .bottomnav{
        display: none;
    }
}